# At minimum define the following variables required by global-compose web services:

SERVICE_NAME=
SERVICE_FQDN=
SERVICE_PORT=

# if you use postgres extended from global-compose:
POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=

# other env variables:
EXAMPLE=
