SERVICE_NAME=
SERVICE_FQDN=
SERVICE_PORT=
=
####### PAPERLESS DB ###########
POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=
=
=
####### PAPERLESS APP ##########
USERMAP_UID=
USERMAP_GID=
PAPERLESS_OCR_LANGUAGES=
PAPERLESS_URL=
PAPERLESS_ADMIN_USER=
PAPERLESS_ADMIN_PASSWORD=
=
=
=
=
######## PAPER LLAMA ########
# Paperless Settings
PAPERLESS_URL=
PAPERLESS_TOKEN=
=
# Ollama Settings
OLLAMA_URL=
#OLLAMA_URL=http://localhost:7869  # running from host
OLLAMA_MODEL=
=
# program settings
PROMPT_FILE=
LOG_LEVEL=
OVERRIDE_EXISTING_TAGS=
SCAN_INTERVAL=
=
=
# either paperless or llm
OCR_SOURCE=
=
# Applicable when "OCR_SOURCE=llm". If document has more pages, paperless OCR will be used
LLM_OCR_SOURCE_PAGE_LIMIT=
