SERVICE_NAME=
SERVICE_FQDN=
SERVICE_PORT=

POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=

MINIO_ROOT_USER=
MINIO_ROOT_PASSWORD=


# For all variables, see https://docs.lightdash.com/self-host/customize-deployment/environment-variables

LIGHTDASH_SECRET=

SECURE_COOKIES=
TRUST_PROXY=

NODE_ENV=
LIGHTDASH_LOG_LEVEL=
LIGHTDASH_QUERY_MAX_LIMIT=

ALLOW_MULTIPLE_ORGS=

SCHEDULER_ENABLED=
LIGHTDASH_MAX_PAYLOAD=

USE_SECURE_BROWSER=
LIGHTDASH_LICENSE_KEY=
LIGHTDASH_INSTALL_ID=
